---
import MainLayout from "./MainLayout.astro";
import PostHeader from "../components/PostHeader.astro";

const { frontmatter } = Astro.props;
const { title, description, date, category, author, image } = frontmatter;
---

<MainLayout {title} {description}>
    <PostHeader
      {title}
      {date}
      {category}
      {author}
      {image}
    />
    <div class="post-content">
        <div class="content">
            <slot/>
        </div>
        <div class="sidebar"></div>
    </div>
</MainLayout>